<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Note</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        body {
            background-image: url('/images/basic.jpg');
            background-size: cover;
            background-position: center;
            color: black;
        }

        .table td {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Edit Note</h1>
    <form th:action="@{/note/edit}" method="post">
        <input type="hidden" th:value="${note.id}" name="id"/>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${note.title}"/>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" th:text="${note.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>

